#NavBarDiv {
    top:0;
    display: block;
    position: fixed;
    background-color: rgb(70, 69, 69);
    text-decoration: none;
    overflow: auto;
    background: linear-gradient(to bottom, 0%, 17%, 33%, 67%, 83, 100%);
    z-index:99;
    height:'10vh';
    width:'100vw';
}

#TriggerOne {
    margin:auto;
}

#TriggerTwo {
    margin:auto;
}

#TriggerThree {
    margin:auto;
}


#NavItem1 {
color: white;
/* width: 50px; */

color: rgb(178, 211, 44);
}

#NavItem2 {
color: white;
/* width: 50px; */

}

#NavItem3 {
color: white;
/* width: 50px; */
}

#NavItem4 {
    color: white;
    /* width: 50px; */
    }

    #NavItem5 {
        color: white;
        /* width: 50px; */
        }



#icon-button {
font-size: 25px;
color: #ffffff;
}
