#NavBarDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    margin: 1rem;
    background-color: rgb(70, 69, 69);
    position: relative;
    min-height: 54px;
    font-size: 150%;
}

#NavItem1 {
color: white;
padding:0;
width: 200px;
margin: 10px;
/* color: rgb(178, 211, 44); */
}

#NavItem2 {
color: white;
width: 200px;
margin: auto;
}

#NavItem3 {
padding-left: 400px;
margin: 0;
padding-right: 0;
color: white;
width: 200px;

}

#icon-button {
font-size: 25px;
color: #ffffff;
}